.sb
.sb-runtime
.env*
!.env.example
result

# we ignore this since snowblower dynmically generates this file.
secrets.nix
.aider*

# VitePress build output and cache
docs/.vitepress/dist
docs/.vitepress/cache
