.sb
.sb-runtime
.env*
!.env.example
result

# we ignore this since snowblower dynmically generates this file.
secrets.nix
.aider*
!.aider.conf.yml

# VitePress build output and cache
docs/.vitepress/dist
docs/.vitepress/cache
.idea
.snowblower

just-flake.just

.direnv