if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
    source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc" "sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w="
fi

if ! use flake . --substituters "https://cache.nixos.org" --impure --builders ""; then
  echo "Default shell could not be loaded." >&2
fi
